@model FanStorey.Models.Chapter

@{
    ViewData["Title"] = "Read";
}

<div>
    <h4>@Html.DisplayFor(model => model.Title)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastUpdateDate)
        </dd>
    </dl>
</div>

<hr />

<div>
    <p>@Html.DisplayFor(model => model.ChapterText)</p>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Previous</a> | 
    <a asp-action="Edit" asp-route-id="@Model.Id">Back to list</a> | 
    <a asp-action="Edit" asp-route-id="@Model.Id">Next</a>
</div>