@model FanStorey.Models.Chapter

@{
    ViewData["Title"] = "Read";
}

<div>
    <h4>@Html.DisplayFor(model => model.Title)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastUpdateDate)
        </dd>
    </dl>
</div>

<hr />

<p class="multiline">@Html.DisplayFor(model => model.ChapterText)</p>

<a asp-action="Index" asp-route-id="@Model.Story.Id">Chapter List</a>

@*@{ int i = Model.Story.Chapters.IndexOf(Model); }*@
@*<div>
    @if (i != 0) { <div><a asp-action="Read" asp-route-id="@Model.Story.Chapters[i - 1].Id">Previous</a> | </div> }
    @if (i != Model.Story.Chapters.Count - 1) { <div> | <a asp-action="Read" asp-route-id="@Model.Story.Chapters[i + 1].Id">Next</a></div> }
</div>*@