@model FanStorey.Models.Chapter

@{
    ViewData["Title"] = "Read";
}

<h1>Details</h1>

<div>
    <h4>Chapter</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastUpdateDate)
        </dd>
    </dl>
</div>

<hr />

<div>
    <h1 class="display-4">@Html.DisplayNameFor(model => model.ChapterText)</h1>
    <p>@Html.DisplayFor(model => model.ChapterText)</p>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
</div>
