@model FanStorey.Models.Story

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Story</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
            <input type="hidden" name="UserId" value="@ViewBag.UserId" />
            <input type="hidden" asp-for="PostDate" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fandom" class="control-label"></label>
                @Html.DropDownList("FandomId")
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <h2>Chapters</h2>
    <a asp-controller="Chapters" asp-action="Create" asp-route-id="@Model.Id">
        Create new chapter
    </a>
    @if (Model.Chapters != null)
    {
        int i = 0;
        foreach (Chapter chapter in Model.Chapters)
        {
            i++;
            <p class="text-dark font-weight-bold">
                <a class="text-dark font-weight-bold" asp-controller="Chapters" asp-action="Read" asp-route-id="@chapter.Id">
                    Chapter @i. @chapter.Title
                </a>|
                <a asp-controller="Chapters" asp-action="Edit" asp-route-id="@chapter.Id">
                    Edit
                </a>|
                <a asp-controller="Chapters" asp-action="Delete" asp-route-id="@chapter.Id">
                    Delete
                </a>
            </p>
        }
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
